@{
    ViewData["Title"] = "About";
}

<div id="about" class="">
    <h3>About ProjectMgr</h3>
    <section class="about-section">
        <h4 class="about-heading">Introduction</h4>
        <p>ProjectMgr is a project management tool developer with ASP.NET 6 MVC, Entity Framework and hosted on heroku
            and developed by <a href="https://github.com/tinasche" target="_blank" style="color: darkcyan; text-decoration: none;">theasbyte</a>.</p>
        <p>The application is based on PMIs process groups and is specifically designed for use in small projects which are Initiation, Planning, Executing, Monitoring and Control, and Closing. Each of the phases are explained below so that you know how to [rperly use the app.</p>
    </section>
    <section class="about-section">
        <h4 class="about-heading">Initiation</h4>
        <p>This represents the first step in the project management phase. Its primary purpose is to compile documents necessary to present to project sponsors for approval and committment to the project. You want to get the buy-in so that there is an initial investment in the progresion of the project.</p>
        <p>Some assets of interest at this stage are:</p>
        <dl>
            <dt>Project Charter</dt>
            <dd>This document outlines a few elements such as: Objectives, Scope, Business Case, Time and Cost estimates, Milestones and Deliverables.</dd>
            <dt>Stakeholder Register</dt>
            <dd>Identify all the stakeholders that will be involved in the entire project. Include the fullnames, roles, contact information </dd>
        </dl>
    </section>
    <section class="about-section">
        <h4 class="about-heading">Planning</h4>
        <p>At this stage we look to financers to answer the following questions:</p>
        <ol>
            <li>What are we going to do?</li>
            <li>How are we going to do it?</li>
            <li>How to know when we are done?</li>
        </ol>
        <p>Some artefacts to consider at this stage include the following:</p>
        <dl>
            <dt>Project Plan</dt>
            <dd>This artefact will include the Requreiements Analysis document and Scope Baseline as a combination of all aspects of the planning phase.</dd>
            <dt>Requirements Analysis</dt>
            <dd>Hold a kick-off meeting with all the stakeholders/users involved to discuss the action points, features and requirements for the final deliverable. The more consensus is achieved the better. With the involvement of all the key players in the meeting, you can get a better, all-encompassing view of the expectations of the stakeholders. Produce a final Requirements Documents that is approved by the project team you represent (if one exists), stakeholders, and the users/clients.</dd>
            <dt>Scope Baseline</dt>
            <dd>This artefact is made up of the Scope Statement, Work Breakdown Structure (WBS) and WBS Dictionary</dd>
            <dt>Scope Statement</dt>
            <dd>Define the scope for the project and the associated boundaries. Once defined, work to protect this scope from scope creep on the scope boundaries. <em>Keep it as simple and straightforward as possible.</em> You can include any Risk Assumptions made.</dd>
            <dt>Work Breakdown Structure</dt>
            <dd>Decompose your final deliverable into specific <i>work packages</i>. Work packages must be as simple as possible to the extent that you confidently make cost and time estimates for each package. Tree like structure with ProjectName at the top, then label the packages per segment of the process. some aspects to include in the WBS are: 
            <ul>
                <li>Product Design</li>
                <li>Resources</li>
                <li>Communication Schedule</li>
                <li>Procurement Plan</li>
                <li>Quality Assurance Measures</li>
                <li>Change Management Plan</li>
            </ul>
            </dd>
            <dt>WBS Dictionary</dt>
            <dd>This section is used to define terms used in the Work Breakdown Structure for clarity.</dd>
        </dl> 
    </section>
    <section class="about-section">
        <h4 class="about-heading">Executing</h4>
        <p>Once the Planning Phase is concluded, worj can begin on the product. Follow the design made in the plan while tracking time, cost and quality bounds.</p>
    </section>
    <section class="about-section">
        <h4 class="about-heading">Monitoring and Control</h4>
        <p>Keep close watch on the constraints associated with the project: time, cost, quality and risk assessment must bedone to ensure you are still working withing the set limits. Communication channels should be kept open, with feedback given acording to the stipulated frequency. Conduct unit, integration and user acceptance tests for deliverables to ensure the quality checks are conducted in earnest.</p>
    </section>
    <section class="about-section">
        <h4 class="about-heading">Closing</h4>
        <p>At the end of the project and the final deliverable product is completed certain activites are expected to close off the project:</p>
        <dl>
            <dt>Handover</dt>
            <dd>Deliver the finished product to the client/stakeholders responsible to receive the output.</dd>
            <dt>Final Cost Records</dt>
            <dd>Account for all financial committments involved and return to responsible stakeholder.</dd>
            <dt>Releae reources</dt>
            <dd>Release any resources at the close of the project, whether it be personnel, materials, or other items claimed in the project development process.</dd>
            <dt>Lessons learnt</dt>
            <dd>Keep track of observations and lesons learnt during the project run. Maybe these can assist in future project to improve the process.</dd>
            <dt>Celebrate 🎆</dt>
            <dd>Make time to celebrate the completion of the project as you prepare for future endeavours.</dd>
        </dl>
        <p>There is provision to extract artefacts per phase or as a complete document for posterity. </p>
    </section>
</div>
