@{
    ViewData["Title"] = "Closing";
}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" asp-action="Index">Introduction</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" asp-action="Initiation">Initiation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" asp-action="Planning">Planning</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" asp-action="Executing">Executing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" asp-action="Monitoring">Monitoring and Control</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" asp-action="Closing">Closing</a>
  </li>
</ul>

<p>The Closing Page</p>
