@{
    ViewData["Title"] = "Monitoring";
}

<ul class="nav nav-tabs bg-dark">
  <li class="nav-item">
    <a class="nav-link text-white disabled" asp-action="Index">Introduction</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" asp-action="Initiation">Initiation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" asp-action="Planning">Planning</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" asp-action="Executing">Executing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" asp-action="Monitoring">Monitoring and Control</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" asp-action="Closing">Closing</a>
  </li>
</ul>

<p>The Monitoring Page</p>
