html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: white;
}

.about-heading:hover {
  color: chocolate;
  text-decoration: underline darkkhaki solid 2px;
}

.about-section {
  margin-bottom: 2rem;
}

.projectTitle {
  color: darkslategrey;
}

.projectTitle:hover {
  color: darkcyan;
}

#jumbo {
  background: #44A08D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

#laynav {
  background-color: #1e5247;
}